.cards {
  .card {
    font-size: 0.85em;
    .img-container {
      height: 325px;
      position: relative;
      overflow: hidden;
      img {
        position: absolute;
        display: block;
        top: 0;
        left: 0;
      }
    }
  }
  .card-issues {
    height: 550px;
    .img-container {
      height: 250px;
      img {
        position: absolute;
        display: block;
        top: 0;
        left: 0;
      }
    }
  }
  .card-report {
    height: 400px;
  }
}
