---
layout: default
body-id: home
---
<main id="home">
  <!-- Dernière parution -->
  {% for issue in site.categories.parutions limit:1 %}
  <section class="cover">
    <div class="jumbotron text-center" style="background-image: url('{{ site.baseurl }}/img/cov-{{ issue.number }}.jpg')">
      <div class="jumbo-overlay">
        <div class="container jumbo-container">
          <div class="jumbo-latest">
            <div class="meta">Parution <span class="meta-number">n° {{ issue.number }}</span></div>
            <h1><a href="{{ issue.url | prepend: site.baseurl }}">{{ issue.title }}</a></h1>
            <div class="meta meta-date">{{ issue.date | date: "%B %Y" }}</div>
            <div class="nav-down">
              <a href="#tagline">
                <span class="icon-arrow-down"></span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="tagline">{{ site.description }}</div>
  </section>
  {% endfor %}
  <!-- Actualités récentes -->
  <section id="recent-news" class="container">
    <h2><a href="{{ '/actualites' | prepend: site.baseurl }}" class="menu-option">Actualités</a></h2>
    <div class="row cards">
      {% for news in site.categories.actualites limit:3 %}
      <article class="card card-news-main col-md-4 col-ms-6">
        <div class="img-container">
          <a href="{{ news.url | prepend: site.baseurl }}">
            <img src="{{ site.baseurl }}/img/nouv-{{ news.number }}.jpg" class="img-responsive"/>
          </a>
        </div>
        <div class="meta meta-subtitle">{{ news.subtitle }}</div>
        <h3><a href="{{ news.url | prepend: site.baseurl }}">{{ news.title }}</a></h3>
      </article>
      {% endfor %}
      <div class="col-xs-12 meta text-right">
        <small><em><a href="{{ '/actualites' | prepend: site.baseurl }}">Voir toutes les actualités <span class="icon-arrow-right"></span></a></em></small>
      </div>
    </div>
    <hr/>
  </section>
  <section id="recent-issues" class="container">
    <h2><a href="{{ '/parutions' | prepend: site.baseurl }}" class="menu-option">Parutions</a></h2>
    <!-- Avant-dernière parution -->
    <div class="row">
      {% for issue in site.categories.parutions offset:1 limit:1 %}
      <article class="clearfix">
        <div class="col-md-6">
          <a href="{{ issue.url | prepend: site.baseurl }}">
            <img src="{{ site.baseurl }}/img/cov-{{ issue.number }}.jpg" class="img-responsive"/>
          </a>
        </div>
        <div class="col-md-6">
          <div class="container">
            <div class="meta">Parution <span class="meta-number">n° {{ issue.number }}</span></div>
            <h3><a href="{{ issue.url | prepend: site.baseurl }}">{{ issue.title }}</a></h3>
            <p>{{ issue.content | strip_html | truncatewords:80 }} <em><a href="{{ issue.url | prepend: site.baseurl }}">Lire la suite...</a></em></p>
            <div class="meta meta-date">{{ issue.date | date: "%B %Y" }}</div>
          </div>
        </div>
      </article>
      {% endfor %}
    </div>
    <!-- Parutions récentes -->
    <div class="row cards">
      {% for issue in site.categories.parutions offset:2 limit:3 %}
      <article class="card card-issue-main col-sm-4 col-xs-12">
        <div class="img-container">
          <a href="{{ issue.url | prepend: site.baseurl }}">
            <img src="{{ site.baseurl }}/img/cov-{{ issue.number }}.jpg" class="img-responsive"/>
          </a>
        </div>
        <div class="meta">Parution <span class="meta-number">n° {{ issue.number }}</span></div>
        <h3><a href="{{ issue.url | prepend: site.baseurl }}">{{ issue.title }}</a></h3>
        <p class="meta meta-short_preview">{{ issue.content | strip_html | truncatewords:25 }}</p>
        <div class="meta meta-date">{{ issue.date | date: "%B %Y" }}</div>
      </article>
      {% endfor %}
      <div class="col-xs-12 meta text-right">
        <small><em><a href="{{ '/parutions' | prepend: site.baseurl }}">Voir toutes les parutions <span class="icon-arrow-right"></span></a></em></small>
      </div>
    </div>
  </section>
</main>
