// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------



/// Serifs font family
/// @type List
$serif: 'Portrait Regular', Garamond, Baskerville, 'Baskerville Old Face', 'Hoefler Text', 'Times New Roman', serif;
$serif-bold: 'Portrait Bold', Garamond, Baskerville, 'Baskerville Old Face', 'Hoefler Text', 'Times New Roman', serif;
$serif-italic: 'Portrait Regular Italic', Garamond, Baskerville, 'Baskerville Old Face', 'Hoefler Text', 'Times New Roman', serif;
$serif-bold-italic: 'Portrait Bold Italic', Garamond, Baskerville, 'Baskerville Old Face', 'Hoefler Text', 'Times New Roman', serif;

/// Sans-serif font family
/// @type List
$sans: 'Maison Neue Book', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;
$sans-bold: 'Maison Neue Bold', 'Helvetica Neue Bold', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;
$sans-italic: 'Maison Neue Book Italic', 'Helvetica Neue Light Italic', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;
$sans-bold-italic: 'Maison Neue Bold Italic', 'Helvetica Neue Bold Italic', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;

/// Code (monospace) font family
/// @type List
$code: 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Monaco', monospace !default;





/// Copy text color
/// @type Color
$text-color: #222 !default;

/// Main brand color
/// @type Color
$brand-color: #E50050 !default;

/// Light grey
/// @type Color
$light-grey: #EDEDED !default;

/// Medium grey
/// @type Color
$mid-grey: #999 !default;

/// Dark grey
/// @type Color
$dark-grey: #444 !default;





/// Container's maximum width
/// Below that is 100%
/// @type Length
$max-width: 1200px !default;





/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
/// @see {mixin} respond-to
$breakpoints: (
  'small': (min-width: 320px),
  'medium': (min-width: 768px),
  'large': (min-width: 1024px),
) !default;






/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'http://cdn.example.com/assets/';
$base-url: '/assets/' !default;
