<hr/>
<footer id="footer">
  <div class="container-fluid">
    <!-- <h2>{{ site.title }}</h2>-->
    <div class="row">
      <div class="col-md-4">
        <p class="meta">{{ site.credit }}</p>
        <div>
          <ul>
            {% if site.github_username %}
            <li>
              {% include icon-github.html username=site.github_username %}
            </li>
            {% endif %}
            {% if site.twitter_username %}
            <li>
              {% include icon-twitter.html username=site.twitter_username %}
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
      <div class="col-md-6 col-md-offset-2 text-right">
        <p><em>N'hésitez pas à nous écrire&nbsp;:</em><br/>
          <span class="meta"><a href="mailto:{{ site.email }}">{{ site.email }}</a></span>
        </p>
      </div>
    </div>
  </div>
</footer>
<script src="{{ '/js/jquery-1.11.3.min.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/js/jquery.colourbrightness.min.js' | prepend: site.baseurl }}"></script>
<script>
  $(document).ready(function(){
    $('.page-header').colourBrightness();
  });
</script>
