<header class="page-header container-fluid">
  <div class="row">
    <div class="col-md-2">
      <a href="{{ site.baseurl }}/" class="logo">Post-Scriptum</a>
    </div>
    <nav class="col-md-10 text-right">
      <div class="menu">
        {% assign pages = site.pages | sort:"order"  %}
        {% for page in pages %}
        {% if page.title %}
        <a href="{{ page.url | prepend: site.baseurl }}" class="menu-option">{{ page.title }}</a>
        {% endif %}
        {% endfor %}
      </div>
    </nav>
  </div>
</header>
