.cover {
  margin: 0 -15px 3em -15px;
  .jumbotron {
    height: 95vh;
    background-size: cover;
    background-position: center;
    padding: 0;
    margin: 0;
    border-radius: 0;
    margin-top: -$header-height;
    .jumbo-overlay {
      height: 95vh;
      margin-top: -$header-height;
      background-color: rgba(0, 0, 0, 0.15);
    }
    .jumbo-container {
      display: table;
      height: 95vh;
    }
    .jumbo-latest {
      margin: auto;
      width: 60%;
      vertical-align: middle;
      display: table-cell;
    }
    h1 {
      margin: 0.25em 0;
      font-size: 10vh;
      font-family: $serif-bold;
      color: #FFF;
      a {
        font-size: 10vh;
        font-family: $serif-bold;
        color: #FFF;
      }
    }
    .meta {
      color: #FFF;
      font-size: 3vh;
    }
  }
  .nav-down {
    margin-top: 3em;
    a {
      color: #FFF;
      font-size: 2.5em;
    }
  }
  #tagline {
    background: $faint-grey;
    height: 5vh;
    line-height: 5vh;
    text-align: center;
    color: $dark-grey;
  }
}

#issue .cover {
  .jumbotron,
  .jumbo-overlay,
  .jumbo-container {
    height: 50vh;
  }
  h1 {
    font-size: 5vh;
    margin: 0.15em 0;
    a {
      font-size: 1em;
    }
  }
  .meta {
    font-size: 2vh;
  }
}
