/* issue-level table of content */
.toc {
  .toc-item {
    margin: 1em 0;
    padding: 0.5em 0;
    border-bottom: 1px solid $faint-grey;
    &:last-child {
      border: 0;
    }
    .article-title_group {
      display: block;
      margin: 1.25em 0;
      line-height: 1.5;
    }
    .article-title {
      font-size: 1.25em;
      margin: 0;
    }
    .article-subtitle {
      font-size: 1em;
    }
    .meta {
      font-size: 0.75em;
      line-height: 1;
    }
    .meta-author {
      font-family: $sans-bold;
    }
    .meta-affiliation {
    }
  }
}

/* article-level table of content */
#article-toc {
  width: 100%;
  height: 100%;
  padding: 1em 0;
  font-size: 0.85em;
  top: $header-height;
  z-index: 1;
  font-family: $sans;
  font-size: 0.65em;
  ul, ol {
    list-style: none;
    padding: 0;
    position: fixed;
    bottom: 10px;
    li {
      line-height: 1.15;
      a {
        color: $dark-grey;
      }
      &:first-child {
        font-family: $sans-bold;
      }
    }
  }
}
