---
layout: default
---
<section>
  <div class="cover">
    <div class="jumbotron text-center" style="background-image: url('{{ site.baseurl }}/img/cov-{{ page.number }}.jpg')">
      <div class="jumbo-overlay">
        <div class="container jumbo-container">
          <div class="jumbo-latest">
            <div class="meta">Parution <span class="meta-number">n° {{ page.number }}</span></div>
            <h1><a href="#article-intro">{{ page.title }}</a></h1>
            <div class="meta meta-date">{{ page.date | date: "%B %Y" }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="article-intro">
  <article class="col-md-6 col-md-offset-3 single-col">
    <h2>Présentation du dossier{% if page.author %} par {{ page.author }}{% endif %}</h2>
    {{ content }}
    {% if page.credit %}
    <p>
      <small>Crédit photographique&nbsp;: <a href="{{ page.credit_url }}" target="_blank">{{ page.credit }}</a></small>
    </p>
    {% endif %}
  </article>
  <nav class="col-md-6 col-md-offset-3 single-col">
    <h2>Table des matières</h2>
    <ol class="toc">
      {% capture issue_id %}{{ page.number }}{% endcapture %}
      {% assign articles = site.categories.article | sort:"order"  %}
      {% for article in articles %}
      {% if article.issue == issue_id %}
      <li class="toc-item">
        <div class="meta">
          <div class="meta-author">{{ article.author }}</div>
          <div class="meta-affiliation">{{ article.affiliation }}</div>
        </div>
        <a href="{{ article.url | prepend: site.baseurl }}" class="article-title_group">
          <h3 class="article-title">{{ article.title }}</h3>
          <div class="article-subtitle">{{ article.subtitle }}</div>
        </a>
      </li>
      {% endif %}
      {% endfor %}
    </ol>
  </nav>
</section>
