// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------
footer#footer {
  margin-top: 4em;
  padding-bottom: 4em;
  background: #FFF;
  position: relative;
  z-index: 100;
  > hr {
    padding-bottom: 4em;
  }
  .meta {
    color: $mid-grey;
  }
}
