// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
header.page-header {
  margin: 0;
  border: 0;
  position: relative;
  z-index: 2;
  background-color: transparent;
  height: $header-height;
  line-height: $header-height;
  .logo {
    font-size: 1em;
  }
  nav {
    font-family: $sans;
    .menu {
      .menu-option {
        margin-left: 1.5em;
        font-size: 0.85em;
      }
    }
  }
  // dark text for light bg
  &.light a {
    color: $text-color;
  }
  // light text for dark bg
  &.dark a {
    color: #FFF;
  }
}
