/**
 * Basic typography style for copy text
 */
body {
  color: $text-color;
  font-family: $serif;
  font-size: $font-base-size;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
}

h1 {
  font-size: 3.157em;
}

h2 {
  font-size: 2.369em;
}

h3 {
  font-size: 1.777em;
}

h4 {
  font-size: 1.333em;
}

small {
  font-size: 0.75em;
}

em {
  font-family: $serif-italic;
  b, strong {
    font-family: $serif-bold-italic;
  }
}

b, strong {
  font-family: $serif-bold;
  em {
    font-family: $serif-bold-italic;
  }
}

/**
 * Basic styles for links
 */
a {
  color: $text-color;
  text-decoration: none;
  @include on-event {
    color: $text-color * 2.5;
    text-decoration: none;
  }
}

/**
 * Basic styles for paragraphs
 */
p {
  margin-bottom: 1em;
  a {
    color: $brand-color;
    // background-image: linear-gradient(to bottom, rgba(0,0,0,0.8) 25%, rgba(0,0,0,0) 25%);
    // background-repeat: repeat-x;
    // background-size: 2px 2px;
    // background-position: 0 $font-size;
    @include on-event {
      color: $brand-color * 0.75;
      text-decoration: underline;
    }
  }
}

blockquote {
  font-family: $sans-italic;
  font-size: 0.75em;
  line-height: 1.75;
  color: $dark-grey;
  margin: 1em 0 1.5em 1.5em;
  padding: 0;
  padding-left: 1.5em;
  border-left: 1px solid $mid-grey;
  em {
    font-family: $sans;
    b, strong {
      font-family: $sans-bold;
    }
  }

  b, strong {
    font-family: $sans-bold;
    em {
      font-family: $sans-bold;
    }
  }
}

hr {
  border-top: 1px solid $light-grey;
}


.meta {
  font-family: $sans;
}

.meta-number {
  font-family: $sans-bold;
}

.meta-date {
  color: $mid-grey;
  font-size: 0.75em;
  text-transform: uppercase;
}

.meta-short_preview {
  font-size: 0.85em;
  color: $dark-grey;
}

.meta-subtitle {
  font-size: 0.85em;
  margin: 0.85em 0;
}
